
label{
    border: 2px solid green;
    margin:20px 0px;
    padding: 0px 20px;
   display: inline-block;
}
.shibu{
    padding: 0px 57px;
    margin-left: 0px;
 
}
.box1{
    width: 500px;
    box-sizing: border-box;
}