@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Roboto:wght@300;400&display=swap');

*{
margin: 0px;
box-sizing: border-box;
    padding: 0px;
}


body{
font-family:'Montserrat', sans-serif;


}

header{
    background-image:url('../image/banner10.jpeg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
}
.navigation{
   background-color: aqua;
    /* padding: 5px 10px; */
    /* border:2px solid yellow */

}

.header .navigation .logo{
    float: left;
    /* padding:0px  80px; */

}

header .navigation .logo a{
    color:red;
    text-decoration: none;

}

.header .navigation .list{float: right;
color:black;
/* padding: 0px 79px; */
padding: 3px 0px;
}
 
.header .navigation::after{
    content: "";
    display: block;
    clear: both;
}
.navigation .list-items{
    display: inline;
    padding: 10px 10px;

}
/* .container{
   margin: 100px;
   display: inline;
} */
.navigation ul  a{
    border-bottom: 2px solid red;
    text-decoration: none;
    color: black;
    text-transform: uppercase;

}
ul a:hover{
    color:blue;
} 

 .container{

    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding: 0px 46px;
}
div p .banner{
    color: blue;
}
.explore{
    background-color: blue
    margin:0px 30px;
}
section {
    background-color:yellow;
    padding: 100px 0px;
}

.row1{
    background-color: aquamarine;
    margin-bottom: 10px;
    margin-top: 10px;
}
.row2{
    background-color: bisque;
}